<!doctype HTML>
<html>
	<head>
	</head>
	<body>
		<p>Hello {first_name},<br/>
Je m’appelle {member.first_name}, je suis membre du comité AIESEC Lausanne. Je me permets de t’écrire suite à ton passage à notre stand à l’amphimax ce mercredi!
Comme tu le sais on organise de stages de volontariat ainsi que des stages professionnels à travers le monde entier, je suis là pour répondre à tes questions et te conseiller pour trouver le stage idéal pour toi. Nos partenaires en ce moment incluent Costa Rica, Vietnam, Egypte, Turquie, Argentine, Kenya, Uganda, Mexique, Pérou, Inde, et Colombie !
Je t’invite à t’inscrire sur notre site internet (<a href="https://aiesec.ch" target="_blank">aiesec.ch</a>) et à m’envoyer un message au <a href="tel:{member.phone}">{member.phone}</a>. Ce serait super qu’on fixe un rendez-vous afin de pouvoir en discuter.<br/>
Salutations,
{member.name}</p>
	</body>
</html>